.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;

}

.headers{
  font-size: 40px;
  color:  #A52A2A;
  font-family: sans-serif;
  margin-left: 150px;
}

.input, .output{
   width: 45vw;
   height: 730px;
   padding: 10px;
   margin: 20px;
   background: #FFF1D0;
   border: 1px solid black;
   float: left;
   overflow: auto;
}
